
<h1>Hirsipuu</h1>
<%= link_to (game_path) do %>
	<div class="div1">Aloita peli</div>
<% end %>
<%= link_to (words_path) do %>
	<div class="div2">Lisää sanoja</div>
<% end %>

<br />
<p class="badthing">Peli on todettu toimivaksi Chromella sekä Firefoxilla. Peli ei toimi Safarilla.<p>
<br />
<%= link_to 'Lähdekoodi löytyy täältä:', 'git://github.com/qrila/hangman.git' %>
<h6>git://github.com/qrila/hangman.git</h6>