<table>
	<tr>
		<td colspan=2>
<h1>Hirsipuu</h1>
</tr>
<tr>
	<td>
<%= link_to (game_path) do %>
	<div class="div1">Aloita peli</div>
<% end %>
</td>
<td>
<%= link_to (words_path) do %>
	<div class="div2">Lisää sanoja</div>
<% end %>
</td>
</tr>
</table>
<br />
<p class="badthing">Pelin toimimiseksi evästeet täytyy olla sallittuna<p>
<br />
<%= link_to 'Lähdekoodi löytyy täältä:', 'git://github.com/qrila/hangman.git' %>
<h6>git://github.com/qrila/hangman.git</h6>