// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.picture {
	height: 500px;
	width: 500px;
	display: block;
	border-radius: 5px;
}
.letter {
	height: 36px;
	width: 36px;
	margin-top: 4px;
	display: inline-block;
	background-color: #BFBDBE;
	text-align: center;
	vertical-align: middle;
	position: relative;
	border-radius: 4px;
	border: 1px solid #808080;
}
.manyletters {
	position: relative;
	display: block;
	width: 500px;
}
div p {
	margin-top: 9px;
}
.back {
	position: relative;
	display: inline-block;
	height: 36px;
	width: 60px;
	background-color: #BFBDBE;
	border-radius: 4px;
	border: 1px solid #808080;
	text-align: center;
	margin-top: 6px;
}

.gameword {
	position: relative;
	top: 370px;
	
	/* Taken from w3schools.com to center game word */
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
}

.gameletter {
	font-size: 40px;
	
}

td {
	width: 40px;
	text-align: center;
}

td p {
	border-bottom-style: solid;
	border-radius: 3px;
}