// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.div1 {
  	width: 100px;
  	height: 100px;
  	background-color: #8C919C;
  	margin: 1px;
  	border-radius: 4px;
  	display: inline-block;
}

.div2 {
  	width: 100px;
	height: 100px;
	background-color: #FA9DA4;
	margin: 1px;
	border-radius: 4px;
	display: inline-block;
}
a {
  	text-decoration: none;
  	color: black;
}
a:visited {
  	text-decoration: none;
  	color: black;
}
.badthing {
	font-size: 15px;
}